body {
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.topDiv {
    padding-top: 20px;
}

#random-time-display {
    min-height: 75px;
    text-align: center;
}
#is-it-time-button {
    padding: 10px;
}